.bgimage {
  background-image: asset-data-url('snow.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
}

.title {
  color: #FFFFFF;
  text-shadow: 4px 4px #000000;
}

.exchangeInfo {
  word-wrap: break-word;
}

.buttons {
  text-align: center;
}

.exchangeTitle {
  color: #033250;
}
