<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Assign Participants Their Giftees?</h1>

      <%= render 'form2' %>

      <%= link_to 'Back', :back, {style: 'color:#FFFFFF', class: 'btn btn-large btn-primary'} %>
    </div>
  </div>
</div>
