<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Create A New Exchange</h1>

      <%= render 'form' %>

      <%= link_to 'Back', exchanges_path, {style: 'color:#FFFFFF', class: 'btn btn-large btn-primary'} %>
    </div>
  </div>
</div>
